/* Left sidebar separator */
.md-sidebar .md-nav {
    border-right: 1px solid #ddd;
}

/* Right sidebar separator */
.md-sidebar--secondary .md-nav {
    border-left: 1px solid #ddd;
} 

/* Adding some padding to content */
.md-main {
    padding-left: 20px;
    padding-right: 20px;
}

/* Remove indentation for top-level navigation items */
.md-nav--primary > .md-nav__list > .md-nav__item > .md-nav__link {
    padding-left: 0.8rem !important;
}

/* Increase indentation for nested sidebar items */
.md-nav--primary .md-nav__item .md-nav__item .md-nav__link {
    padding-left: 2.2rem !important;
}

/* Add vertical spacing between sidebar items */
.md-nav--primary .md-nav__list > .md-nav__item {
    margin-bottom: 0.35rem;
}

/* Disable click on top-level section titles */
.md-nav--primary > .md-nav__list > .md-nav__item > .md-nav__link {
    pointer-events: none;
    cursor: default;
}

/* Remove underline for top-level section titles */
.md-nav--primary > .md-nav__list > .md-nav__item > .md-nav__link:hover {
    text-decoration: none !important;
}

/* Underline link on hover in the sidebar */
.md-nav--primary .md-nav__item .md-nav__item > .md-nav__link:hover {
    text-decoration: underline !important;
}

/* Align primary sidebar content with logo */
.md-sidebar--primary {
    padding-left: 0 !important;
}

/* Remove internal nav left padding */
.md-sidebar--primary .md-nav {
    padding-left: 0 !important;
}

/* Align top-level navigation items with logo */
.md-sidebar--primary 
.md-nav--primary 
> .md-nav__list 
> .md-nav__item 
> .md-nav__link {
    padding-left: 1rem !important;
}
